.sidebar {
    color: #0066cc;
}

.sidebar.open {
    color: #00cc22;
}

.background {
}

.nav {
}

.nav a {

}

.nav a:hover {
}

.nav a.active {
    color: aquamarine;
}

.close {
    color: black;
}

.close img {
}
