.sidebar {
    color: #0066cc;
}

.sidebar.open {
    color: green;
}

.background {
}

.nav {
}

.nav a {
    color: blue;
}

.nav a:hover {
}

.nav a.active {
    color: red;
}

.close {
    color: black;
}

.close img {

}
